Firmware/Debug/*
Firmware_Old/Debug/*
*.bin
*.bbl
Python/*.json
!Python/config.json
!Firmware/Debug/BlackBox.hex
!Firmware_Old/Debug/BlackBox.hex
LICENSE.txt
Firmware/Drivers/CMSIS/Include/core_armv81mml.h
Firmware/Drivers/CMSIS/Include/core_armv8mbl.h
Firmware/Drivers/CMSIS/Include/core_armv8mml.h
Firmware/Drivers/CMSIS/Include/core_cm0.h
Firmware/Drivers/CMSIS/Include/core_cm1.h
Firmware/Drivers/CMSIS/Include/core_cm23.h
Firmware/Drivers/CMSIS/Include/core_cm3.h
Firmware/Drivers/CMSIS/Include/core_cm33.h
Firmware/Drivers/CMSIS/Include/core_cm35p.h
Firmware/Drivers/CMSIS/Include/core_cm4.h
Firmware/Drivers/CMSIS/Include/core_cm7.h
Firmware/Drivers/CMSIS/Include/core_sc000.h
Firmware/Drivers/CMSIS/Include/core_sc300.h
Firmware/Drivers/CMSIS/Include/mpu_armv8.h
config.json
Software/GUI/pyinstaller.txt
*.spec
